In [ ]:
# Name: Muhammad Junaid Iftikhar
# Roll Number: Ezi-ML-B1-161
# Shift Time: 3:00 PM - 6:00 PM
# Internship Type: hybird

# TASK 03 Regression Analysis

# DATASET USED: Titanic data set link : https://www.kaggle.com/datasets/yasserh/titanic-dataset